<ul data-role="listview" id="menuList"  data-inset="false" data-theme="e"> 	
	<li id = "home"><a href="home.html" data-role="none">%label.home%</a></li>
	<li id = "messages"><a href="messages.html" data-role="none">%label.messages%</a></li>
 	<li id = "accounts"><a href="accounts.html?onSelectToPage=transactions.html" data-role="none">%label.accounts%</a></li>
 	<li id = "mobileCash"><a href="mobile_cash.html" data-role="none">%label.mobile.cash%</a></li>
    <li id = "transfers"><a href="transfers.html" data-role="none">%label.transfer.funds%</a></li>
    <li id = "payBills"><a href="bills.html" data-role="none">%label.pay.bills%</a></li>
    <li id = "sendMoney"><a href="money.html" data-role="none">%label.money%</a></li>
    <li id = "check"><a href="check.html" data-role="none">%label.deposit.check%</a></li>
    <li id = "goals"><a href="goals.html" data-role="none">%label.set.goals%</a></li>
    <li id = "locations"><a href="locations.html" data-role="none">%label.location%</a></li>
    <li id = "contact"><a href="contact.html" data-role="none">%label.contact%</a></li>  
    <li id = "manageAlerts"><a href="manage_alerts.html" data-role="none">%label.manage.alerts%</a></li>  
    <li id = "logout" class="sbLogout"><a href="javascript:void(0);" data-role="none">%label.logout%</a></li>
</ul>
